# dependencies
node_modules/
.pnpm-store/

# turbo
.turbo

# build outputs
dist/
build/

# env files
.env
.env.local
.env.*.local
.env.*
!.env.example
!*.env.example
*.env.backup
.env.backup
.env*.backup

# package manager lockfiles
package-lock.json
apps/*/package-lock.json
apps/*/pnpm-lock.yaml

# OS
.DS_Store
Thumbs.db

# logs
*.log
npm-debug.log*
pnpm-debug.log*
